@model IEnumerable<Flex_TEST.Models.ViewModels.ActivityIndexVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ActivityId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActivityName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActivityCategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActivityDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpeakerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActivityPlace)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.ActivityBookStartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActivityBookEndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActivityStatusDescription)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.ActivityId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActivityName)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ActivityCategoryName)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActivityDate)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SpeakerName)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActivityPlace)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.ActivityBookStartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActivityBookEndTime)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.ActivityStatusDescription)
            </td>
            
            <td>
                <a asp-action="Edit" asp-route-id="@item.ActivityId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ActivityId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ActivityId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
